.header{
    background:$off-black;
    color: white;
    margin-bottom: $rem;
    padding: $rem 0;
}
.header__title{
    font-size: $l-size;
    margin: 0;
}
.header__subtitle{
    color:$off-white;
    font-size: $rem;
    font-weight: 500;
    margin: 0;
}
@media (min-width:$desktop-breakpoint){
   .header{
       margin-bottom: $xl-size;
   } 
}